img{
    text-align: center;
    width: 500px;
    height: auto;
}
.img{
    text-align: center;
}
nav{
    text-align: center;
}
#messageServeurOk{
    color: chartreuse;
}
#messageServeurNoOk{
    color: red;
}
#norton-idsafe-field-logo-imgId{
    
    width: 5px;
    height: auto;
}