img{
    text-align: center;
    width: 500px;
    height: auto;
}
.img{
    text-align: center;
}
nav{
    text-align: center;
}

#norton-idsafe-field-logo-imgId{
    
    width: 5px;
    height: auto;
}
.succes{
    color: chartreuse;
}
.error{
    color: blue;
}
.drop-container {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;
    margin: 0;
}

.file-input {
    display: none;
}

#fileList {
    list-style-type: none;
    padding: 0;
}

#fileList li {
    margin-bottom: 10px;
}
